imagelinking_20260406142219/Microsoft.Flow/flows/14769352-3ba6-414d-892c-f02cc090be67/definition.json
{"name":"59ddae09-029c-41ef-9f9e-83f2a845c44e","id":"/providers/Microsoft.Flow/flows/59ddae09-029c-41ef-9f9e-83f2a845c44e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Link Images","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"2bbd87ee-eda2-4117-a6bc-82f78b9a3bb3","type":"User","tenantId":"d9d47063-3f5e-4de9-bf99-f083657fa0fe"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-14T03:33:27.0380509Z","connectionKeySavedTimeKey":"2026-01-14T03:33:27.0380509Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_varPrePA":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPrePA","type":"string"}]}},"Initialize_varPostPA":{"runAfter":{"Initialize_varPrePA":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPostPA","type":"string"}]}},"Initialize_varPreLat":{"runAfter":{"Initialize_varPostPA":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPreLat","type":"string"}]}},"Initialize_varPostLat":{"runAfter":{"Initialize_varPreLat":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPostLat","type":"string"}]}},"Get_items":{"runAfter":{"Initialize_varPostLat":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","table":"610a1308-3a98-4466-8faa-3ea5a4704e58","$filter":"ImagesLinked eq 0","$top":50},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_patient":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Set_varpostlat":{"type":"SetVariable","inputs":{"name":"varPostLat","value":"''"}},"Set_varprepa":{"runAfter":{"Set_varpostlat":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varPrePA","value":"''"}},"Set_varpostpa":{"runAfter":{"Set_varprepa":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varPostPA","value":"''"}},"varPreLat":{"runAfter":{"Set_varpostpa":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varPreLat","value":"''"}},"Get_files_(properties_only)":{"runAfter":{"varPreLat":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","table":"49932ffe-8fb0-4e71-a1db-3435b83a0da0","$filter":"substringof('@{items('Apply_to_each_patient')?['Patient_x0020_Name']}', FileLeafRef)"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"f2829edf4b7e4db18a9a84116adfa1bb","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}