imageconnectionwithpatientinformation_20260406142141/Microsoft.Flow/flows/40cdcc4d-ef52-4f1a-8b95-034eba48c60d/definition.json
{"name":"7d9e4fa7-4000-4ded-9c10-70da00a7351b","id":"/providers/Microsoft.Flow/flows/7d9e4fa7-4000-4ded-9c10-70da00a7351b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"manual New surgery image folder preop postop - UPDATED","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"2bbd87ee-eda2-4117-a6bc-82f78b9a3bb3","type":"User","tenantId":"d9d47063-3f5e-4de9-bf99-f083657fa0fe"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-15T01:08:40.4306105Z","connectionKeySavedTimeKey":"2026-01-15T01:08:40.4306105Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d7a1abae-881b-4c63-85e3-4ca0adbeac28"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_surgeries":{"runAfter":{},"metadata":{"operationMetadataId":"644bcb4b-c8e9-4ab0-a0be-1e8480131166"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","table":"610a1308-3a98-4466-8faa-3ea5a4704e58","$orderby":"Surgery_x0020_Date desc","$top":100},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"For_each_Surgery":{"foreach":"@outputs('Get_surgeries')?['body/value']","actions":{"PatientName_":{"metadata":{"operationMetadataId":"eea4f035-9d97-481f-8358-185f57b91e22"},"type":"SetVariable","inputs":{"name":"Patient Name","value":"@item()?['Patient_x0020_Name/Value']"}},"Surg_date":{"runAfter":{"PatientName_":["Succeeded"]},"type":"SetVariable","inputs":{"name":"surgery date","value":"@formatDateTime(items('For_each_Surgery')?['Surgery_x0020_Date'],'MMM dd yyyy')"}},"Check_Preop_Exists":{"actions":{"Get_folder_metadata_using_path":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","path":"/Patient Doc/Images/@{variables('Patient Name')}/@{variables('surgery date')}_preop"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFolderMetadataByPath"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Surg_date":["Succeeded"]},"type":"Scope"},"Create_Folders":{"actions":{"Create_postop_document_set":{"runAfter":{"Create_preop_document_set":["Succeeded"]},"metadata":{"operationMetadataId":"0c050a5f-fb26-4479-846a-462c600365b2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","table":"49932ffe-8fb0-4e71-a1db-3435b83a0da0","parameters/path":"/Images/@{variables('Patient Name')}/@{variables('surgery date')}_postop","parameters/contentTypeId":"0x0120D5200026D3C71ABCF546468AB4A4A188D6AA25","parameters/DynamicProperties/Title":"@{variables('Patient Name')}_PostopImg_@{variables('surgery date')}","parameters/DynamicProperties/DocumentSetDescription":"Postop Images for @{variables('Patient Name')} "},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewDocumentSet"},"authentication":"@parameters('$authentication')"}},"Create_preop_document_set":{"metadata":{"operationMetadataId":"0c050a5f-fb26-4479-846a-462c600365b2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","table":"49932ffe-8fb0-4e71-a1db-3435b83a0da0","parameters/path":"/Images/@{variables('Patient Name')}/@{variables('surgery date')}_preop","parameters/contentTypeId":"0x0120D5200026D3C71ABCF546468AB4A4A188D6AA25","parameters/DynamicProperties/Title":"@{variables('Patient Name')}_PreopImg_@{variables('surgery date')}","parameters/DynamicProperties/DocumentSetDescription":"Preop Images for @{variables('Patient Name')} "},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewDocumentSet"},"authentication":"@parameters('$authentication')"}},"Update_item_pre_post":{"runAfter":{"Create_postop_document_set":["Succeeded"]},"metadata":{"operationMetadataId":"8adbef05-35b2-40ad-bbb9-3eaf0274072b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://iuhealth.sharepoint.com/sites/RileySpineCareTeam","table":"610a1308-3a98-4466-8faa-3ea5a4704e58","id":"@item()?['ID']","view":"e71f6ffd-aa14-4fe7-9243-63a74ebcb964","item/postOther":"@body('Create_postop_document_set')?['{Link}']","item/PreOther":"@body('Create_preop_document_set')?['{Link}']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_Preop_Exists":["Failed"]},"type":"Scope"}},"runAfter":{"Initialize_variable_count":["Succeeded"]},"metadata":{"operationMetadataId":"daad0620-cd90-4076-86d0-5ca9db9d7cad"},"type":"Foreach"},"Init_PatientName":{"runAfter":{"Get_surgeries":["Succeeded"]},"metadata":{"operationMetadataId":"c642f632-f32c-4573-b1d9-b91ff988540d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Patient Name","type":"string"}]}},"Initialize_Title":{"runAfter":{"Init_PatientName":["Succeeded"]},"metadata":{"operationMetadataId":"51e28b4b-40ab-4983-855c-1c5d2c970d09"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Title","type":"string"}]}},"Initialize_variable_surgery_date":{"runAfter":{"Initialize_Title":["Succeeded"]},"metadata":{"operationMetadataId":"51e28b4b-40ab-4983-855c-1c5d2c970d09"},"type":"InitializeVariable","inputs":{"variables":[{"name":"surgery date","type":"string"}]}},"Initialize_variable_count":{"runAfter":{"Initialize_variable_surgery_date":["Succeeded"]},"metadata":{"operationMetadataId":"51e28b4b-40ab-4983-855c-1c5d2c970d09"},"type":"InitializeVariable","inputs":{"variables":[{"name":"count","type":"integer"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"f2829edf4b7e4db18a9a84116adfa1bb","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}